USE [master]
GO
/****** Object:  Database [webst9]    Script Date: 10/1/2026 12:15:01 PM ******/
CREATE DATABASE [webst9]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'webst9', FILENAME = N'D:\Nam2-Ki2\CoSoDuLieu\MSSQL16.SQLEXPRESS\MSSQL\DATA\webst9.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'webst9_log', FILENAME = N'D:\Nam2-Ki2\CoSoDuLieu\MSSQL16.SQLEXPRESS\MSSQL\DATA\webst9_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [webst9].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [webst9]
GO
/****** Object:  Table [dbo].[author]    Script Date: 10/1/2026 12:15:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[author](
	[author_id] [int] IDENTITY(1,1) NOT NULL,
	[author_name] [varchar](255) NULL,
	[date_of_birth] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[author_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[book_author]    Script Date: 10/1/2026 12:15:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book_author](
	[bookid] [int] NOT NULL,
	[author_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[books]    Script Date: 10/1/2026 12:15:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[books](
	[bookid] [int] IDENTITY(1,1) NOT NULL,
	[cover_image] [nvarchar](255) NULL,
	[description] [nvarchar](2000) NULL,
	[isbn] [nvarchar](255) NULL,
	[price] [numeric](38, 2) NULL,
	[publish_date] [date] NULL,
	[publisher] [nvarchar](255) NULL,
	[quantity] [int] NULL,
	[title] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[bookid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_details]    Script Date: 10/1/2026 12:15:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_details](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[price] [numeric](18, 2) NOT NULL,
	[quantity] [int] NOT NULL,
	[subtotal] [numeric](18, 2) NOT NULL,
	[bookid] [int] NOT NULL,
	[order_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 10/1/2026 12:15:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[orderDate] [datetime2](6) NOT NULL,
	[status] [varchar](255) NOT NULL,
	[totalAmount] [numeric](18, 2) NOT NULL,
	[userid] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rating]    Script Date: 10/1/2026 12:15:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rating](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[rating] [int] NULL,
	[review_text] [varchar](1000) NULL,
	[bookid] [int] NULL,
	[userid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 10/1/2026 12:15:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[admin] [bit] NULL,
	[email] [varchar](255) NOT NULL,
	[fullname] [nvarchar](255) NULL,
	[passwd] [varchar](255) NULL,
	[phone] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[author] ON 

INSERT [dbo].[author] ([author_id], [author_name], [date_of_birth]) VALUES (1, N'Sean Covey', NULL)
INSERT [dbo].[author] ([author_id], [author_name], [date_of_birth]) VALUES (2, N'Dale Carnegie', NULL)
INSERT [dbo].[author] ([author_id], [author_name], [date_of_birth]) VALUES (3, N'Tô Hoài', CAST(N'1920-09-27' AS Date))
SET IDENTITY_INSERT [dbo].[author] OFF
GO
INSERT [dbo].[book_author] ([bookid], [author_id]) VALUES (1, 1)
INSERT [dbo].[book_author] ([bookid], [author_id]) VALUES (2, 2)
INSERT [dbo].[book_author] ([bookid], [author_id]) VALUES (7, 2)
GO
SET IDENTITY_INSERT [dbo].[books] ON 

INSERT [dbo].[books] ([bookid], [cover_image], [description], [isbn], [price], [publish_date], [publisher], [quantity], [title]) VALUES (1, N'assets/images/7-thoi-quen.jpg', N'Cuốn sách trình bày những thói quen giúp người trẻ phát triển tư duy, kỹ năng và định hướng bản thân.', N'9786043127904', CAST(128000.00 AS Numeric(38, 2)), CAST(N'2020-09-30' AS Date), N'NXB Tổng hợp TP.HCM', 15, N'7 Thói Quen Của Bạn Trẻ Thành Đạt')
INSERT [dbo].[books] ([bookid], [cover_image], [description], [isbn], [price], [publish_date], [publisher], [quantity], [title]) VALUES (2, N'assets/images/dac-nhan-tam.jpg', N'Cuốn sách trình bày những nguyên tắc giao tiếp và ứng xử giúp xây dựng các mối quan hệ tốt đẹp.', N'9786043351668', CAST(86000.00 AS Numeric(38, 2)), CAST(N'2021-04-01' AS Date), N'NXB Tổng hợp TP.HCM', 20, N'Đắc Nhân Tâm')
INSERT [dbo].[books] ([bookid], [cover_image], [description], [isbn], [price], [publish_date], [publisher], [quantity], [title]) VALUES (3, N'assets/images/de-men.jpg', N'Tác phẩm kể về những cuộc phiêu lưu của Dế Mèn và những bài học về tình bạn, trách nhiệm và trưởng thành.', N'9786042030540', CAST(75000.00 AS Numeric(38, 2)), CAST(N'2022-01-01' AS Date), N'NXB Kim Đồng', 13, N'Dế Mèn Phiêu Lưu Ký')
SET IDENTITY_INSERT [dbo].[books] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [admin], [email], [fullname], [passwd], [phone]) VALUES (1, 0, N'user@gmail.com', N'Người dùng', N'123456', N'0900000001')
INSERT [dbo].[users] ([id], [admin], [email], [fullname], [passwd], [phone]) VALUES (2, 1, N'admin@gmail.com', N'Quản trị viên', N'123456', N'0900000002')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_6dotkott2kjsp8vw4d0m25fb7]    Script Date: 10/1/2026 12:15:02 PM ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UK_6dotkott2kjsp8vw4d0m25fb7] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[book_author]  WITH CHECK ADD  CONSTRAINT [FKbjqhp85wjv8vpr0beygh6jsgo] FOREIGN KEY([author_id])
REFERENCES [dbo].[author] ([author_id])
GO
ALTER TABLE [dbo].[book_author] CHECK CONSTRAINT [FKbjqhp85wjv8vpr0beygh6jsgo]
GO
ALTER TABLE [dbo].[book_author]  WITH CHECK ADD  CONSTRAINT [FKsd2jsor618xf2gop09qdx890f] FOREIGN KEY([bookid])
REFERENCES [dbo].[books] ([bookid])
GO
ALTER TABLE [dbo].[book_author] CHECK CONSTRAINT [FKsd2jsor618xf2gop09qdx890f]
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD  CONSTRAINT [FK3okra0aa3e2mv1vvaf53y8y48] FOREIGN KEY([bookid])
REFERENCES [dbo].[books] ([bookid])
GO
ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [FK3okra0aa3e2mv1vvaf53y8y48]
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD  CONSTRAINT [FKjyu2qbqt8gnvno9oe9j2s2ldk] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [FKjyu2qbqt8gnvno9oe9j2s2ldk]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FKpnm1eeupqm4tykds7k3okqegv] FOREIGN KEY([userid])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FKpnm1eeupqm4tykds7k3okqegv]
GO
ALTER TABLE [dbo].[rating]  WITH CHECK ADD  CONSTRAINT [FKewh98gldhf4rkebu3q7o7b9ib] FOREIGN KEY([bookid])
REFERENCES [dbo].[books] ([bookid])
GO
ALTER TABLE [dbo].[rating] CHECK CONSTRAINT [FKewh98gldhf4rkebu3q7o7b9ib]
GO
ALTER TABLE [dbo].[rating]  WITH CHECK ADD  CONSTRAINT [FKhuvty2fd8bu4umvd2piks7jco] FOREIGN KEY([userid])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[rating] CHECK CONSTRAINT [FKhuvty2fd8bu4umvd2piks7jco]
GO
USE [master]
GO
